.input1{
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.loginbot{
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.recuperar{
  text-align: center ;
  margin-top: 25px;
}

#contains{
  display: grid;
  place-items: center;
  justify-content: center;
  height: 100%;
}

ion-button{
  --border-radius: 50px;
}

ion-footer{
  text-align: center;
}


